@font-face {
  font-family: "iconfont"; /* Project id 2835583 */
  src: url('iconfont.woff2?t=1641213055307') format('woff2'),
       url('iconfont.woff?t=1641213055307') format('woff'),
       url('iconfont.ttf?t=1641213055307') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doc:before {
  content: "\e61f";
}

.icon-key:before {
  content: "\e6a4";
}

.icon-close:before {
  content: "\e679";
}

.icon-direction-down:before {
  content: "\e684";
}

.icon-direction-right:before {
  content: "\e689";
}

.icon-direction-up:before {
  content: "\e68a";
}

.icon-direction-left:before {
  content: "\e68c";
}

.icon-search:before {
  content: "\e6ca";
}

.icon-sign-out:before {
  content: "\e6ce";
}

.icon-select:before {
  content: "\e6cf";
}

.icon-success:before {
  content: "\e6d1";
}

.icon-smile:before {
  content: "\e6d2";
}

.icon-setting:before {
  content: "\e6d4";
}

.icon-task:before {
  content: "\e6d6";
}

.icon-toggle-left:before {
  content: "\e6db";
}

.icon-toggle-right:before {
  content: "\e6dc";
}

.icon-top:before {
  content: "\e6de";
}

.icon-add-bold:before {
  content: "\e6e7";
}

.icon-arrow-left-bold:before {
  content: "\e6e8";
}

.icon-arrow-up-bold:before {
  content: "\e6e9";
}

.icon-close-bold:before {
  content: "\e6ea";
}

.icon-arrow-down-bold:before {
  content: "\e6eb";
}

.icon-minus-bold:before {
  content: "\e6ec";
}

.icon-arrow-right-bold:before {
  content: "\e6ed";
}

.icon-select-bold:before {
  content: "\e6ee";
}

.icon-arrow-up-filling:before {
  content: "\e6ef";
}

.icon-arrow-down-filling:before {
  content: "\e6f0";
}

.icon-arrow-left-filling:before {
  content: "\e6f1";
}

.icon-arrow-right-filling:before {
  content: "\e6f2";
}

.icon-zhuce:before {
  content: "\e71c";
}

.icon-gongzuotai:before {
  content: "\e60b";
}

