<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="../js/vue.js"></script>
    <title>姓名案例_插值语法实现</title>
  </head>

  <body>
    <div id="root">
      性：
      <input type="text" v-model="firstName" />
      名：
      <input type="text" v-model="lastName" />
      全名：
      <span>{{firstName}}-{{lastName}}</span>
    </div>
  </body>
  <script type="text/javascript">
    Vue.config.productionTip = false
    const vm = new Vue({
      el: '#root',
      data() {
        return {
          firstName: '张',
          lastName: '三'
        }
      },
      methods: {}
    })
  </script>
</html>
